body {
    display: grid;
    font-family: sans-serif;
    padding-bottom: 50px;
}

@media (min-width: 1000px) {
    body {
        grid-template-columns: auto 700px 300px auto;
        grid-template-rows: auto;
    }

    .title-left {
        grid-column: 2/3;
    }
    .title-right {
        grid-column: 3/4;
        font-size: 14px;
    }
    .content {
        grid-column: 2/4;
    }
}

@media (max-width: 999px) {
    body {
        grid-template-columns: minmax(auto, 999px);
    }
    .title-left {
        grid-column: 1/2;
    }
    .title-right {
        grid-column: 1/2;
        font-size: 14px;
    }
    .content {
        grid-column: 1/2;
    }
}

a:visited {
    color: gray;
}

.title-left h1 {
    font-size: 28px;
}

.title-left h2 {
    font-size: 16px;
    font-weight: 100;
}

.title-left span {
    font-size:  13px;
    font-weight: 100;
}

.title-right ul {
    list-style-type: none;
    padding: 0;
}

.title-right ul li {
    line-height: 1.5;
}

.content h1 {
    line-height: 2;
    text-align: center;
    font-size: 24px;
    background-color: #FAFAFA;
}

.content-block h2 {
    font-size: 20px;
    font-weight: 400;
}

.content-block h3 {
    font-size:  16px;
    font-weight: 300;
}

.content-block li {
    font-weight: 300;
    line-height: 1.5;
}

.content-block span {
    display: inline-block;
    margin-right: 8px;
    font-weight: 300;
    padding: 3px 4px;
    border: 1px solid #CCC;
    font-size: 13px;
    line-height: 1.5;
    margin-bottom: 5px;
}
